/*.iml
/.idea/**
/logs/**
/target/**
/*/target/**
/target/
/*/*.iml
/*/node_modules
/*/package-lock.json
/.project
/.settings
/event-api/.classpath
/event-api/.project
/event-api/.settings
/event-model/.classpath
/event-model/.project
/event-model/.settings
/event-server/.classpath
/event-server/.project
/event-server/.settings
